<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke Test" parallel="classes" thread-count="8" verbose="1">
    <!-- suite name="Suite Name" -->
    <!--Created by Ravi Kaniyawala on 15/09/18-->

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="testExecution.RetryListenerClass"/>
    </listeners>

    <test name="test" >
        <groups>
            <run>
                <include name = "demo"></include>
            </run>
        </groups>
        <packages>
            <package name="TestNG" />
        </packages>
    </test>

</suite>